*
	margin: 0
	padding: 0

body
	background: rgba(255,255,100, 0.2)
	

%font
	font-family: Commissioner
	font-style: normal
	font-weight: normal
	font-size: 28px
	line-height: 40px
	letter-spacing: 0.03em
	color: rgba(0, 0, 0, 0.9)
%font2
	font-family: Lato
	font-style: normal
	font-weight: 300
	font-size: 13px
	line-height: 20px
	color: rgba(0, 0, 0, 0.5)

%b	
	border: 1px solid red

.project-wrapper
	width: 1920px
	border: 2px solid red
	margin: 0 auto
	background-color: #E5E5E5
	margin-top: 50px
	margin-bottom: 50px
	&__main-action
		margin: 0 auto
		margin-top: 100px
	&__principle
		margin: 0 auto
		margin-top: 100px	
	&__delta	
		margin: 0 auto
		margin-top: 80px	
	&__services
		margin: 0 auto
		margin-top: 80px
	&__trust
		margin-top: 100px
	&__adv
		margin: 0 auto
		margin-top: 80px
	&__cooperation
		margin: 0 auto
		margin-top: 100px	
	&__cost
		margin-top: 100px
		margin-left: 375px
	&__footer
		margin-top: 100px
	&__menu
		margin-top: 35px
	&__subserv
		margin: 0 auto
		margin-top: 80px	
	&__ad
		margin: 0 auto
		margin-top: -885px
	&__mk
		margin-top: 255px
	&__call
		margin-top: 685px
	&__reg
		margin: 0 auto
		margin-top: 80px
	&__doc
		margin: 0 auto
		margin-top: 100px	
	&__aspect
		margin: 100px auto
		// margin-top: 100px	
		// margin-bottom: 100px	
			


			



@import "Blocks/Header/_header.sass"
@import "Blocks/Common/Logo/_logo.sass"
@import "Blocks/Main-display/_main-display.sass"
@import "Blocks/Common/Picture/_picture.sass"
@import "Blocks/Advantage/_advantage.sass"
@import "Blocks/Introduction/_introduction.sass"
@import "Blocks/Main-action/_main-action.sass"
@import "Blocks/Common/Button/_button.sass"
@import "Blocks/Principle/_principle.sass"
@import "Blocks/White/_white.sass"
@import "Blocks/Reviews/_reviews.sass"
@import "Blocks/Clients/_clients.sass"
@import "Blocks/Delta/_delta.sass"
@import "Blocks/Middle/_middle.sass"
@import "Blocks/Services/_services.sass"
@import "Blocks/Trust/_trust.sass"
@import "Blocks/Adv/_adv.sass"
@import "Blocks/Cooperation/_cooperation.sass"
@import "Blocks/Cost/_cost.sass"
@import "Blocks/Footer/_footer.sass"
@import "Blocks/Common/MainText/_mainText.sass"
@import "Blocks/Registration/_registration.sass"
@import "Blocks/Menu/_menu.sass"
@import "Blocks/Subserv/_subserv.sass"
@import "Blocks/Ad/_ad.sass"
@import "Blocks/MK/_mk.sass"
@import "Blocks/Call/_call.sass"
@import "Blocks/Reg/_reg.sass"
@import "Blocks/Doc/_doc.sass"
@import "Blocks/Aspect/_aspect.sass"
@import "Blocks/Exc/_exc.sass"
