*
	margin: 0
	padding: 0

body
	background: rgba(255,255,100, 0.2)

.project-wrapper
	width: 1920px
	border: 2px solid red
	margin: 0 auto
	background-color: #E5E5E5

@import "Blocks/Header/_header.sass"
@import "Blocks/Common/Logo/_logo.sass"
@import "Blocks/Main-display/_main-display.sass"
@import "Blocks/Common/Picture/_picture.sass"
@import "Blocks/Advantage/_advantage.sass"
@import "Blocks/Introduction/_introduction.sass"
